

// aside 展开按钮旋转
time()
  transition .3s
  -ms-transition .3s
  -webkit-transition .3s
rotateA()
  transform rotate(-180deg)
  -ms-transform rotate(-180deg)
  -webkit-transform rotate(-180deg)
  time()
rotateB()
  transform rotate(0deg)
  -ms-transform rotate(0deg)
  -webkit-transform rotate(0deg)
  time()